@-webkit-keyframes spin-out {
  from {
	-webkit-transform: rotate(0deg);
  }
  to {
	-webkit-transform: rotate(-180deg);
  }
}

@-webkit-keyframes spin-in {
  from {
	-webkit-transform: rotate(180deg);
	-webkit-opacity: 0.5;
  }
  to {
	-webkit-transform: rotate(0deg);
	-webkit-opacity: 1.0;	
  }
}

@-webkit-keyframes fade {
	from {
		-webkit-opacity: 1.0;
	}
	to {
		-webkit-opacity: 0;
	}
}